body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont,"Segoe UI0", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: lightblue;

}

code {
	font-family: source-code-pro, Menlo, Monaco,Consolas, "Courier New", monospace;	
}

.App {
	background-color: #fff;
	max-width: 992px;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	background-color: orange;
	padding: 10px 20px;
}

.nav-menu li {
	display: inline-block;
	list-style: none;
}

.logo-link {
	color: white;
	text-decoration: none;
}

.nav-menu-link {
	display: inline-block;
	margin: 5px;
	border: 1px solid grey;
	text-decoration: none;
	border-radius: 5px;
	padding: 3px 8px;
	background-color: white;
}

.nav-menu-link:hover {
	border: 1px solid black;
	background-color: rgb(228, 228, 228);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.nav-menu-link.activate {
	background-color: yellow;
	
}

.home-image {
	width:100%;
	height:500px;
	background-image: url('https://images.indianexpress.com/2019/09/iifa-blog-759.jpg');
	background-size: cover;
	margin-bottom: 50px;
	transition: all 0.3s ease-in-out;
}

.home-image:hover {
	background-image: url('https://static.toiimg.com/photo/msid-68547872/68547872421964.jpg');
	cursor:pointer;
	transform: scale(1.05);
	transition: all 0.3s ease-in-out;
}

.main-content {
	width: 90%;
	margin: auto;
	padding-bottom: 30%;
}

.main-content h2 {
	text-align: center;
	margin-bottom: 20px;
}

.home-thumbnail-1,
.home-thumbnail-2,
.home-thumbnail-3 {
	background-size: cover;
	width:200px;
	height:100px;
	transition: all 0.3s ease-in-out;
}

.home-thumbnail-1:hover,
.home-thumbnail-2:hover,
.home-thumbnail-3:hover {
	cursor:pointer;
	transform: scale(1.10);
	transition: all 0.3s ease-in-out;
} 

.home-thumbnail-1 {
	background-image: url('https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/09/19/Pictures/_8484564e-dad2-11e9-89b8-e15e15df329c.jpg');
}

.home-thumbnail-2 {
	background-image: url('https://i.ytimg.com/vi/0ixPSpDTcrM/maxresdefault.jpg');
}

.home-thumbnail-3 {
	background-image: url('https://sm.mashable.com/t/mashable_in/photo/default/iifa-2019-full-winners-list_6kgd.960.jpg');
}

.thumbnail-container {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	width: 100%;

}

.container {
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.actor-container {
	margin-top: 50px;
	display: inline-block;
	text-align: center;
}

.actor-image {
	width: 250px;
	height: 250px;
	background-size: cover;
}

.actor-image:hover {
	transform: scale(1.12);
	transition: all 0.3s ease-in-out;

}

.actress-container {
	margin-top: 50px;
	display: inline-block;
	text-align: center;
}

.actress-image {
	width: 250px;
	height: 250px;
	background-size: cover;
}

.actress-image:hover {
	transform: scale(1.12);
	transition: all 0.3s ease-in-out;

}

.films-container {
	margin-top: 50px;
	display: inline-block;
	text-align: center;
}

.films-image {
	width: 	300px;
	height: 300px;
	background-size: cover;
}

.films-image:hover {
	transform: scale(1.12);
	transition: all 0.3s ease-in-out;

}


.back {
	display: inline-block;
	margin: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: rgb(149, 216, 238);
	text-decoration: none;
}